<!DOCTYPE html>
{% load static %}
<html lang="en">
<!--<h1>{{ static }}</h1>-->
<!--<img src='{% static "images/TEDxIITGuwahati1.png" %}' alt="LOGO">-->
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Blogs - TedxIITG</title>

    <!-- Favicon -->
    <link rel="icon" href='{% static "img/core-img/favicon.png" %}'/>

    <!-- Stylesheet -->
    <link rel="stylesheet" href='{% static "style.css" %}'/>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Header Area Start -->
    <header class="header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="conferNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="/"><img src='{% static "images/ted_white.png" %}' alt="" width="350"/></a>
                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="speakers.html">Speakers</a></li>
                                <li class="active"><a href="blog.html">Blogs</a></li>
                                <li><a href="about_us.html">About Us</a></li>
                                <li><a href="/unrestricted.html">Unrestricted</a></li>
                                <li><a href="/contact.html">Contact</a></li>
<!--                                <li><a href="#">Nominate</a>-->
<!--                                    <ul class="dropdown">-->
<!--                                        <li><a href="nominate_speaker.html">Nominate a Speaker</a></li>-->
<!--                                        <li><a href="nominate_yourself.html">Nominate Yourself</a></li>-->
<!--                                        <li><a href="about_us.html">About Us</a></li>-->
<!--                                        <li><a href="speakers.html">- Speakers</a></li>-->
<!--                                        <li><a href="schedule.html">- Schedule</a></li>-->
<!--                                        <li><a href="tickets.html">- Tickets</a></li>-->
<!--                                        <li><a href="blog.html">- Blog</a></li>-->
<!--                                        <li><a href="single-blog.html">- Single Blog</a></li>-->
<!--                                        <li><a href="contact.html">- Contact</a></li>-->
<!--                                        <li><a href="#">- Dropdown</a>-->
<!--                                            <ul class="dropdown">-->
<!--                                                <li><a href="#">- Dropdown Item</a></li>-->
<!--                                                <li><a href="#">- Dropdown Item</a></li>-->
<!--                                                <li><a href="#">- Dropdown Item</a></li>-->
<!--                                                <li><a href="#">- Dropdown Item</a></li>-->
<!--                                            </ul>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </li>-->
                            </ul>

                            <!-- Get Tickets Button -->
<!--                            <a href="#" class="btn confer-btn mt-3 mt-lg-0 ml-3 ml-lg-5">Get Tickets <i class="zmdi zmdi-long-arrow-right"></i></a>-->
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Breadcrumb Area Start -->
    <section class="about-us-countdown-area section-padding-100-0" id="about" style="background-color: #ffffff">
        <div class="container">
            <div class="row align-items-center" style="margin-top:50px; margin-bottom:100px">
                <div class="col-12 col-md-6">
                    <div class="about-content-text mb-10">
                        <hr class="wow fadeInUp" data-wow-delay="300ms" style="width: 8rem; height:8px; margin-left:0px; background-color:#FF2B06; border-radius: 1.5px;">
                        <h3 class="wow fadeInUp" data-wow-delay="300ms">BLOGS</h3>
                    </div>
                    
                </div>
            </div>
        </div>
    <!-- Breadcrumb Area End -->


    <!-- Our Blog Area Start -->
        <div class="our-blog-area section-padding 400">
            <div class="container">
                <div class="row">
                     {% for post in posts %}
                    <!-- Single Blog Area -->
                        <a href="{{post.link}}" target="_blank">
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="single-blog-area style-2 wow fadeInUp"  data-wow-delay="300ms">
                                    <!-- Single blog Thumb -->
                                    <div class="single-blog-thumb" >
                                        <img src="{{post.photo}}" alt="">
                                    </div>
                                    <div class="single-blog-text text-center">
                                        <a class="blog-title" href="{{post.link}}" target="_blank">{{ post.title }}</a>
                                        <!-- Post Meta -->
            <!--                             <div class="post-meta">-->
            <!--                                <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> {{ post.published_date }}</a>-->
            <!--                                <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> {{ post.author }}</a>-->
            <!--                             </div>-->
                                        <p>{{ post.text|linebreaksbr }}</p>
                                    </div>
                                    <div class="blog-btn">
                                        <a href="{{post.link}}" target="_blank"><i class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}

                <!--&lt;!&ndash; Single Blog Area &ndash;&gt;-->
                <!--<div class="col-12 col-md-6 col-xl-4">-->
                    <!--<div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">-->
                        <!--&lt;!&ndash; Single blog Thumb &ndash;&gt;-->
                        <!--<div class="single-blog-thumb">-->
                            <!--<img src='{% static "img/bg-img/19.jpg" %}' alt="">-->
                        <!--</div>-->
                        <!--<div class="single-blog-text text-center">-->
                            <!--<a class="blog-title" href="#">Tedx Moscow Conference</a>-->
                            <!--&lt;!&ndash; Post Meta &ndash;&gt;-->
                            <!--<div class="post-meta">-->
                                <!--<a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i>January 14, 2019</a>-->
                                <!--<a class="post-author" href="#"><i class="zmdi zmdi-account"></i>Laura Green</a>-->
                            <!--</div>-->
                            <!--<p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>-->
                        <!--</div>-->
                        <!--<div class="blog-btn">-->
                            <!--<a href="#"><i class="zmdi zmdi-long-arrow-right"></i></a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--&lt;!&ndash; Single Blog Area &ndash;&gt;-->
                <!--<div class="col-12 col-md-6 col-xl-4">-->
                    <!--<div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">-->
                        <!--&lt;!&ndash; Single blog Thumb &ndash;&gt;-->
                        <!--<div class="single-blog-thumb">-->
                            <!--<img src='{% static "img/bg-img/20.jpg" %}' alt="">-->
                        <!--</div>-->
                        <!--<div class="single-blog-text text-center">-->
                            <!--<a class="blog-title" href="#">Los Angeles Institute</a>-->
                            <!--&lt;!&ndash; Post Meta &ndash;&gt;-->
                            <!--<div class="post-meta">-->
                                <!--<a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i>January 14, 2019</a>-->
                                <!--<a class="post-author" href="#"><i class="zmdi zmdi-account"></i>Laura Green</a>-->
                            <!--</div>-->
                            <!--<p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>-->
                        <!--</div>-->
                        <!--<div class="blog-btn">-->
                            <!--<a href="#"><i class="zmdi zmdi-long-arrow-right"></i></a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--&lt;!&ndash; Single Blog Area &ndash;&gt;-->
                <!--<div class="col-12 col-md-6 col-xl-4">-->
                    <!--<div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">-->
                        <!--&lt;!&ndash; Single blog Thumb &ndash;&gt;-->
                        <!--<div class="single-blog-thumb">-->
                            <!--<img src='{% static "img/bg-img/18.jpg" %}' alt="">-->
                        <!--</div>-->
                        <!--<div class="single-blog-text text-center">-->
                            <!--<a class="blog-title" href="#">Street Food Convention</a>-->
                            <!--&lt;!&ndash; Post Meta &ndash;&gt;-->
                            <!--<div class="post-meta">-->
                                <!--<a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>-->
                                <!--<a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Laura Green</a>-->
                            <!--</div>-->
                            <!--<p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>-->
                        <!--</div>-->
                        <!--<div class="blog-btn">-->
                            <!--<a href="#"><i class="zmdi zmdi-long-arrow-right"></i></a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--&lt;!&ndash; Single Blog Area &ndash;&gt;-->
                <!--<div class="col-12 col-md-6 col-xl-4">-->
                    <!--<div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">-->
                        <!--&lt;!&ndash; Single blog Thumb &ndash;&gt;-->
                        <!--<div class="single-blog-thumb">-->
                            <!--<img src='{% static "img/bg-img/19.jpg" %}' alt="">-->
                        <!--</div>-->
                        <!--<div class="single-blog-text text-center">-->
                            <!--<a class="blog-title" href="#">Tedx Moscow Conference</a>-->
                            <!--&lt;!&ndash; Post Meta &ndash;&gt;-->
                            <!--<div class="post-meta">-->
                                <!--<a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i>January 14, 2019</a>-->
                                <!--<a class="post-author" href="#"><i class="zmdi zmdi-account"></i>Laura Green</a>-->
                            <!--</div>-->
                            <!--<p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>-->
                        <!--</div>-->
                        <!--<div class="blog-btn">-->
                            <!--<a href="#"><i class="zmdi zmdi-long-arrow-right"></i></a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--&lt;!&ndash; Single Blog Area &ndash;&gt;-->
                <!--<div class="col-12 col-md-6 col-xl-4">-->
                    <!--<div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">-->
                        <!--&lt;!&ndash; Single blog Thumb &ndash;&gt;-->
                        <!--<div class="single-blog-thumb">-->
                            <!--<img src='{% static "img/bg-img/20.jpg" %}' alt="">-->
                        <!--</div>-->
                        <!--<div class="single-blog-text text-center">-->
                            <!--<a class="blog-title" href="#">Los Angeles Institute</a>-->
                            <!--&lt;!&ndash; Post Meta &ndash;&gt;-->
                            <!--<div class="post-meta">-->
                                <!--<a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i>January 14, 2019</a>-->
                                <!--<a class="post-author" href="#"><i class="zmdi zmdi-account"></i>Laura Green</a>-->
                            <!--</div>-->
                            <!--<p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>-->
                        <!--</div>-->
                        <!--<div class="blog-btn">-->
                            <!--<a href="#"><i class="zmdi zmdi-long-arrow-right"></i></a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--&lt;!&ndash; Single Blog Area &ndash;&gt;-->
                <!--<div class="col-12 col-md-6 col-xl-4">-->
                    <!--<div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">-->
                        <!--&lt;!&ndash; Single blog Thumb &ndash;&gt;-->
                        <!--<div class="single-blog-thumb">-->
                            <!--<img src='{% static "img/bg-img/18.jpg" %}' alt="">-->
                        <!--</div>-->
                        <!--<div class="single-blog-text text-center">-->
                            <!--<a class="blog-title" href="#">Street Food Convention</a>-->
                            <!--&lt;!&ndash; Post Meta &ndash;&gt;-->
                            <!--<div class="post-meta">-->
                                <!--<a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>-->
                                <!--<a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Laura Green</a>-->
                            <!--</div>-->
                            <!--<p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>-->
                        <!--</div>-->
                        <!--<div class="blog-btn">-->
                            <!--<a href="#"><i class="zmdi zmdi-long-arrow-right"></i></a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--&lt;!&ndash; Single Blog Area &ndash;&gt;-->
                <!--<div class="col-12 col-md-6 col-xl-4">-->
                    <!--<div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">-->
                        <!--&lt;!&ndash; Single blog Thumb &ndash;&gt;-->
                        <!--<div class="single-blog-thumb">-->
                            <!--<img src='{% static "img/bg-img/19.jpg" %}' alt="">-->
                        <!--</div>-->
                        <!--<div class="single-blog-text text-center">-->
                            <!--<a class="blog-title" href="#">Tedx Moscow Conference</a>-->
                            <!--&lt;!&ndash; Post Meta &ndash;&gt;-->
                            <!--<div class="post-meta">-->
                                <!--<a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i>January 14, 2019</a>-->
                                <!--<a class="post-author" href="#"><i class="zmdi zmdi-account"></i>Laura Green</a>-->
                            <!--</div>-->
                            <!--<p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>-->
                        <!--</div>-->
                        <!--<div class="blog-btn">-->
                            <!--<a href="#"><i class="zmdi zmdi-long-arrow-right"></i></a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--&lt;!&ndash; Single Blog Area &ndash;&gt;-->
                <!--<div class="col-12 col-md-6 col-xl-4">-->
                    <!--<div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">-->
                        <!--&lt;!&ndash; Single blog Thumb &ndash;&gt;-->
                        <!--<div class="single-blog-thumb">-->
                            <!--<img src='{% static "img/bg-img/20.jpg" %}' alt="">-->
                        <!--</div>-->
                        <!--<div class="single-blog-text text-center">-->
                            <!--<a class="blog-title" href="#">Los Angeles Institute</a>-->
                            <!--&lt;!&ndash; Post Meta &ndash;&gt;-->
                            <!--<div class="post-meta">-->
                                <!--<a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i>January 14, 2019</a>-->
                                <!--<a class="post-author" href="#"><i class="zmdi zmdi-account"></i>Laura Green</a>-->
                            <!--</div>-->
                            <!--<p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>-->
                        <!--</div>-->
                        <!--<div class="blog-btn">-->
                            <!--<a href="#"><i class="zmdi zmdi-long-arrow-right"></i></a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
<!--            </div>-->

<!--            <div class="row">-->
<!--                <div class="col-12">-->
<!--                    <div class="more-blog-btn text-center">-->
<!--                        <a class="btn confer-btn" href="#">Load more <i class="zmdi zmdi-refresh"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
                </div>
            </div>
        </div>
    </section>

    <!-- Our Blog Area End -->
<br> <br>
    <!-- Footer Area Start -->
    <footer class="footer-area bg-img bg-overlay-2 section-padding-20-0">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-60">
                            <!-- Footer Logo -->
                            <a href="/" class="footer-logo"><img src='{% static "images/ted_white.png" %}' alt=""></a>
                            <!-- <p>Ideas Worth Spreading</p> -->

                            <!-- Social Info -->
                            <!-- <div class="social-info">
                                <a href="https://www.facebook.com/TEDxIITGuwahati/" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                                <a href="https://www.instagram.com/tedxiitguwahati/" target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                                <a href="https://twitter.com/tedxiitg" target="_blank"><i class="zmdi zmdi-twitter"></i></a>
                                <a href="https://www.linkedin.com/company/tedx-iit-guwahati/" target="_blank"><i class="zmdi zmdi-linkedin"></i></a>
<a href="https://tedxtalk-iitg.medium.com/" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a> -->
<!--                                <a href="https://tedxtalk-iitg.medium.com/" target="_blank"><i class="ant-design:medium-outlined"></i></a>-->
<!--                            <iconify-icon data-icon="ant-design:medium-outlined"></iconify-icon>-->
                            <!-- </div> -->
                        </div>
                    </div>

                    <!-- Single Footer Widget Area  col-lg-3 -->
                    <div class="col-12 col-sm-6">
                       <div class="single-footer-widget mb-60">
                           <br />
                            <h5 class="widget-title">Ideas Worth Spreading</h5>
                            <div class="footer-contact-info">
                                <p>This independent TEDx is operated under license from TED</p>
                                <!-- <p><i class="zmdi zmdi-map"></i> IIT Guwahati</p> -->
                                <!-- <p><i class="zmdi zmdi-phone"></i> Jaikishan Mansukhani:</p><p style="margin-left: 15px">+91 90757 19391 </p>
                                <p><i class="zmdi zmdi-email"></i> iitg.tedx@gmail.com</p> -->

                            </div>
                        </div>
                    </div>
                    

                    <!-- Single Footer Widget Area -->
                   <div class="col-12 col-sm-6 col-lg-3">
                       <div class="single-footer-widget mb-60">
                           <div class="social-info">
                          <br>
                            <a href="https://www.facebook.com/TEDxIITGuwahati/" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="https://www.instagram.com/tedxiitguwahati/" target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                            <a href="https://twitter.com/tedxiitg" target="_blank"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="https://www.linkedin.com/company/tedx-iit-guwahati/" target="_blank"><i class="zmdi zmdi-linkedin"></i></a>
<a href="https://tedxtalk-iitg.medium.com/" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
<!--                                <a href="https://tedxtalk-iitg.medium.com/" target="_blank"><i class="ant-design:medium-outlined"></i></a>-->
<!--                            <iconify-icon data-icon="ant-design:medium-outlined"></iconify-icon>-->
                        </div>

                       </div>
                   </div>

                    <!-- Single Footer Widget Area -->
<!--                    <div class="col-12 col-sm-6 col-lg-3">-->
<!--                        <div class="single-footer-widget mb-60">-->
<!--                            &lt;!&ndash; Widget Title &ndash;&gt;-->


<!--                            &lt;!&ndash; Footer Gallery &ndash;&gt;-->

<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>

<!--         Copywrite Area-->
        <!-- <div class="container">
            <div class="copywrite-content">
                <div class="row"> -->
                    <!-- Copywrite Text -->
                    <!-- <div class="col-12 col-md-6">
                        <div class="copywrite-text"> -->
                            <!--<p> Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
                                <!-- This independent TEDx event is operated under license from TED. -->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. </p>-->
                        <!-- </div>
                    </div> -->
                    <!-- Footer Menu -->
<!--                    <div class="col-12 col-md-6">-->
<!--                        <div class="footer-menu">-->
<!--                            <ul class="nav">-->
<!--                                <li><a href="#"><i class="zmdi zmdi-circle"></i> Terms of Service</a></li>-->
<!--                                <li><a href="#"><i class="zmdi zmdi-circle"></i> Privacy Policy</a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
                <!-- </div>
            </div>
        </div> -->
    </footer>
    <!-- Footer Area End -->

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src='{% static "js/jquery.min.js" %}'></script>
    <!-- Popper -->
    <script src='{% static "js/popper.min.js" %}'></script>
    <!-- Bootstrap -->
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <!-- All Plugins -->
    <script src='{% static "js/confer.bundle.js" %}'></script>
    <!-- Active -->
    <script src='{% static "js/default-assets/active.js" %}'></script>

</body>

</html>