<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/93ccc17177.js" crossorigin="anonymous"></script>

    <!-- Title -->
    <title>TEDxIITGuwahati</title>

    <!-- Favicon -->
    <link rel="icon" href='{% static "./img/core-img/favicon.png" %}'>

    <!-- Stylesheet -->
    <link rel="stylesheet" href='{% static "style.css" %}'>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Header Area Start -->
    <header class="header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="conferNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="/"><img src='{% static "images/ted_white.png" %}' alt="TEDx IITG"></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="speakers.html">Speakers</a></li>
                                <li><a href="blog.html">Blogs</a></li>
                                <li><a href="about_us.html">About Us</a></li>
                                <li><a href="/unrestricted.html">Unrestricted</a></li>
                                <li class="active"><a href="/contact.html">Contact</a></li>
<!--                                <li><a href="#">Nominate</a>-->
<!--                                    <ul class="dropdown">-->
<!--                                        <li><a href="nominate_speaker.html">Nominate a Speaker</a></li>-->
<!--                                        <li><a href="nominate_yourself.html">Nominate Yourself</a></li>-->
<!--                                        <li><a href="about_us.html">About Us</a></li>-->
<!--                                        <li><a href="speakers.html">- Speakers</a></li>-->
<!--                                        <li><a href="schedule.html">- Schedule</a></li>-->
<!--                                        <li><a href="tickets.html">- Tickets</a></li>-->
<!--                                        <li><a href="blog.html">- Blog</a></li>-->
<!--                                        <li><a href="single-blog.html">- Single Blog</a></li>-->
<!--                                        <li><a href="contact.html">- Contact</a></li>-->
<!--                                        <li><a href="#">- Dropdown</a>-->
<!--                                            <ul class="dropdown">-->
<!--                                                <li><a href="#">- Dropdown Item</a></li>-->
<!--                                                <li><a href="#">- Dropdown Item</a></li>-->
<!--                                                <li><a href="#">- Dropdown Item</a></li>-->
<!--                                                <li><a href="#">- Dropdown Item</a></li>-->
<!--                                            </ul>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </li>-->
                            </ul>

                            <!-- Get Tickets Button -->
<!--                            <a href="#" class="btn confer-btn mt-3 mt-lg-0 ml-3 ml-lg-5">Get Tickets <i class="zmdi zmdi-long-arrow-right"></i></a>-->
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Breadcrumb Area Start --
    section class="breadcrumb-area bg-img jarallax" style="background-color: #ffffff">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2 class="page-title">About Us</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About us</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    Breadcrumb Area End -->

    <!-- What We offer Area Start -->
<!--    <section class="what-we-offer-area section-padding-100-70">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                &lt;!&ndash; Heading &ndash;&gt;-->
<!--                <div class="col-12">-->
<!--                    <div class="section-heading-3 text-center wow fadeInUp" data-wow-delay="300ms">-->
<!--                        <p>Summit Meeting</p>-->
<!--                        <h4>What We Offer</h4>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="row">-->
<!--                &lt;!&ndash; Single We Offer Area &ndash;&gt;-->
<!--                <div class="col-12 col-md-6 col-xl-3">-->
<!--                    <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s">-->
<!--                        &lt;!&ndash; Icon &ndash;&gt;-->
<!--                        <div class="offer-icon">-->
<!--                            <img src="img/core-img/icon.png" alt="">-->
<!--                        </div>-->
<!--                        <h5>Conference</h5>-->
<!--                        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque</p>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Single We Offer Area &ndash;&gt;-->
<!--                <div class="col-12 col-md-6 col-xl-3">-->
<!--                    <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s">-->
<!--                        &lt;!&ndash; Icon &ndash;&gt;-->
<!--                        <div class="offer-icon">-->
<!--                            <img src="img/core-img/icon-2.png" alt="">-->
<!--                        </div>-->
<!--                        <h5>Workshops</h5>-->
<!--                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum</p>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Single We Offer Area &ndash;&gt;-->
<!--                <div class="col-12 col-md-6 col-xl-3">-->
<!--                    <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s">-->
<!--                        &lt;!&ndash; Icon &ndash;&gt;-->
<!--                        <div class="offer-icon">-->
<!--                            <img src="img/core-img/icon-3.png" alt="">-->
<!--                        </div>-->
<!--                        <h5>Coffee Breaks</h5>-->
<!--                        <p>On the other hand, we denounce with righteous indignation</p>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Single We Offer Area &ndash;&gt;-->
<!--                <div class="col-12 col-md-6 col-xl-3">-->
<!--                    <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s">-->
<!--                        &lt;!&ndash; Icon &ndash;&gt;-->
<!--                        <div class="offer-icon">-->
<!--                            <img src="img/core-img/icon-4.png" alt="">-->
<!--                        </div>-->
<!--                        <h5>Events</h5>-->
<!--                        <p>These cases are perfectly simple and easy to distinguish in a free hour</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <!-- What We offer Area End -->

    <!-- About TED area Start -->
    <section class="about-us-countdown-area section-padding-100-0" id="about" style="background-color: #ffffff">
        <div class="container">
            <div class="row align-items-center" style="height:200px;">
                
                <div class="col-12 col-md-6">
                    <div class="about-content-text mb-80">
                        <hr data-wow-delay="300ms" style="width: 8rem; height:600px;  height:8px; float:left; background-color:#FF2B06; border-radius: 1.5px;">
                        <h3 class="wow fadeInUp" data-wow-delay="300ms"><br>CONTACT US</h3>
                    </div>
                </div>
            </div>
            <div class="row " style="height:700px;">
                <!-- About Content -->
                <div class="col-12 col-md-6" >
                    <div class="about-content-text mb-80">
<!--                        <h6 class="wow fadeInUp" data-wow-delay="300ms"><font size="+3">Welcome to TED<span style="text-transform: lowercase;">x</span>IITGuwahati</font></h6>-->
<!--                        <h3 class="wow fadeInUp" data-wow-delay="300ms"><br>What Is TED?</h3>-->
                        <p class="wow fadeInUp" data-wow-delay="300ms" align="justify">
                            <font size="+1" style="color:rgb(0, 0, 0);"><!--TED is a nonprofit organization devoted to Ideas Worth Spreading. Started as a four-day conference in California 30 years ago, TED has grown to support its mission with multiple initiatives. The two annual TED Conferences invite the world's leading thinkers and doers to speak for 18 minutes or less. Many of these talks are then made available, free, at TED.com. TED speakers have included Bill Gates, Jane Goodall, Elizabeth Gilbert, Sir Richard Branson, Nandan Nilekani, Philippe Starck, Ngozi Okonjo-Iweala, Sal Khan and Daniel Kahneman. The annual TED Conference takes place each spring in Vancouver, British Columbia. TED's media initiatives include TED.com, where new TED Talks are posted daily;-->
                                TEDxIITGuwahati is an extraordinary event that invites pioneers, innovators and thinkers from various background enlighten the common folks with their radical.
                            </font>
                                <!-- Single Footer Widget Area -->
                                <div style="width: 100%; position: absolute; left:600px; bottom:200px;"><iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=IIT%20Guwahati+(TEDxIITGuwahati)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/create-google-map/">Create Google Map</a></iframe></div><br>
                    <div class="social-info">
                   <br>
                   <a href="https://www.facebook.com/TEDxIITGuwahati/" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                   <a href="https://www.instagram.com/tedxiitguwahati/" target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                   <a href="https://twitter.com/tedxiitg" target="_blank"><i class="zmdi zmdi-twitter"></i></a>
                   <a href="https://www.linkedin.com/company/tedx-iit-guwahati/" target="_blank"><i class="zmdi zmdi-linkedin"></i></a> 
<!--                                <a href="https://tedxtalk-iitg.medium.com/" target="_blank"><i class="ant-design:medium-outlined"></i></a>-->
<!--                            <iconify-icon data-icon="ant-design:medium-outlined"></iconify-icon>-->
                 </div>
                 <br><br><br>
                 <ul class="icons">
                    <li></li>
                        <i class="fas fa-map-marker-alt fa-2x" style="color:#FF2B06"></i>
                        <span>
                            &ensp; &nbsp; IIT Guwahati
                        </span>
                    </li>
                    <li><br></li>
                    <li>
                        <i class="fas fa-phone-alt fa-2x" style="color:#FF2B06"></i>
                        <span>&nbsp;Jaikishan Mansukhani: +91 90757 19391
                            </span>
                    </li>
                    <li><br></li>
                    <li>
                        <i class="fas fa-envelope fa-2x" style="color:#FF2B06"></i>
                        <span>
                            &nbsp;iitg.tedx@gmail.com
                        </span>
                    </li>
                </ul>
                

                </div>
            </div>


                        </p>
<!--                        <a href="#" class="btn confer-btn mt-50 wow fadeInUp" data-wow-delay="300ms">Interested <i class="zmdi zmdi-long-arrow-right"></i></a>-->
                        </div>
                </div>
         </div>
    </div>

</div>
</div>



<!-- Footer Area Start -->
<footer class="footer-area bg-img bg-overlay-2 section-padding-20-0">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row">
                <!-- Single Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-60">
                        <!-- Footer Logo -->
                        <a href="/" class="footer-logo"><img src='{% static "images/ted_white.png" %}' alt=""></a>
                        <!-- <p>Ideas Worth Spreading</p> -->

                        <!-- Social Info -->
                        <!-- <div class="social-info">
                            <a href="https://www.facebook.com/TEDxIITGuwahati/" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="https://www.instagram.com/tedxiitguwahati/" target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                            <a href="https://twitter.com/tedxiitg" target="_blank"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="https://www.linkedin.com/company/tedx-iit-guwahati/" target="_blank"><i class="zmdi zmdi-linkedin"></i></a> -->
<!--                                <a href="https://tedxtalk-iitg.medium.com/" target="_blank"><i class="ant-design:medium-outlined"></i></a>-->
<!--                            <iconify-icon data-icon="ant-design:medium-outlined"></iconify-icon>-->
                        <!-- </div> -->
                    </div>
                </div>

                <!-- Single Footer Widget Area  col-lg-3 -->
                <div class="col-12 col-sm-6">
                   <div class="single-footer-widget mb-60">
                       <br />
                        <h5 class="widget-title">Ideas Worth Spreading</h5>
                        <div class="footer-contact-info">
                            <p>This independent TEDx is operated under license from TED</p>
                            <!-- <p><i class="zmdi zmdi-map"></i> IIT Guwahati</p> -->
                            <!-- <p><i class="zmdi zmdi-phone"></i> Jaikishan Mansukhani:</p><p style="margin-left: 15px">+91 90757 19391 </p>
                            <p><i class="zmdi zmdi-email"></i> iitg.tedx@gmail.com</p> -->

                        </div>
                    </div>
                </div>
                

                <!-- Single Footer Widget Area -->
               <div class="col-12 col-sm-6 col-lg-3">
                   <div class="single-footer-widget mb-60">
                       <div class="social-info">
                      <br>
                        <a href="https://www.facebook.com/TEDxIITGuwahati/" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="https://www.instagram.com/tedxiitguwahati/" target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="https://twitter.com/tedxiitg" target="_blank"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="https://www.linkedin.com/company/tedx-iit-guwahati/" target="_blank"><i class="zmdi zmdi-linkedin"></i></a>
<!--                                <a href="https://tedxtalk-iitg.medium.com/" target="_blank"><i class="ant-design:medium-outlined"></i></a>-->
<!--                            <iconify-icon data-icon="ant-design:medium-outlined"></iconify-icon>-->
                    </div>

                   </div>
               </div>

                <!-- Single Footer Widget Area -->
<!--                    <div class="col-12 col-sm-6 col-lg-3">-->
<!--                        <div class="single-footer-widget mb-60">-->
<!--                            &lt;!&ndash; Widget Title &ndash;&gt;-->


<!--                            &lt;!&ndash; Footer Gallery &ndash;&gt;-->

<!--                        </div>-->
<!--                    </div>-->
            </div>
        </div>
    </div>

<!--         Copywrite Area-->
    <!-- <div class="container">
        <div class="copywrite-content">
            <div class="row"> -->
                <!-- Copywrite Text -->
                <!-- <div class="col-12 col-md-6">
                    <div class="copywrite-text"> -->
                        <!--<p> Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
                            <!-- This independent TEDx event is operated under license from TED. -->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. </p>-->
                    <!-- </div>
                </div> -->
                <!-- Footer Menu -->
<!--                    <div class="col-12 col-md-6">-->
<!--                        <div class="footer-menu">-->
<!--                            <ul class="nav">-->
<!--                                <li><a href="#"><i class="zmdi zmdi-circle"></i> Terms of Service</a></li>-->
<!--                                <li><a href="#"><i class="zmdi zmdi-circle"></i> Privacy Policy</a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
            <!-- </div>
        </div>
    </div> -->
</footer>
<!-- Footer Area End -->

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src='{% static "js/jquery.min.js" %}'></script>
    <!-- Popper -->
    <script src='{% static "js/popper.min.js" %}'></script>
    <!-- Bootstrap -->
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <!-- All Plugins -->
    <script src='{% static "js/confer.bundle.js" %}'></script>
    <!-- Active -->
    <script src='{% static "js/default-assets/active.js" %}'></script>

</body>


   </html>