<!DOCTYPE html>
{% load static %}
<html lang="en">
<!--<h1>{{ static }}</h1>-->
<!--<img src='{% static "images/TEDxIITGuwahati1.png" %}' alt="LOGO">-->
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Speakers - TedxIITG Speakers</title>

    <!-- Favicon -->
    <link rel="icon" href='{% static "img/core-img/favicon.png" %}'/>

    <!-- Stylesheet -->
    <link rel="stylesheet" href='{% static "style.css" %}'/>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Header Area Start -->
    <header class="header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="conferNav">

                    <!-- Logo -->
                   <a class="nav-brand" href="/"><img src='{% static "images/ted_white.png" %}' alt="" width="350"/></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="/">Home</a></li>
                                <li class="active"><a href="speakers.html">Speakers</a></li>
                                <li><a href="blog.html">Blogs</a></li>
                                <li><a href="/#contact_area">Contact</a></li>
                                <li><a href="about_us.html">About Us</a></li>
                                <li><a href="nominate_speaker.html">Nominate</a></li>
<!--                                <li><a href="#">Nominate</a>-->
<!--                                    <ul class="dropdown">-->
<!--                                        <li><a href="nominate_speaker.html">Nominate a Speaker</a></li>-->
<!--                                        <li><a href="nominate_yourself.html">Nominate Yourself</a></li>-->
<!--                                        <li><a href="">- Home</a></li>-->
<!--                                        <li><a href="about_us.html">About Us</a></li>-->
<!--                                        <li><a href="speakers.html">- Speakers</a></li>-->
<!--                                        <li><a href="schedule.html">- Schedule</a></li>-->
<!--                                        <li><a href="tickets.html">- Tickets</a></li>-->
<!--                                        <li><a href="blog.html">- Blog</a></li>-->
<!--                                        <li><a href="single-blog.html">- Single Blog</a></li>-->
<!--                                        <li><a href="contact.html">- Contact</a></li>-->
<!--                                        <li><a href="#">- Dropdown</a>-->
<!--                                            <ul class="dropdown">-->
<!--                                                <li><a href="#">- Dropdown Item</a></li>-->
<!--                                                <li><a href="#">- Dropdown Item</a></li>-->
<!--                                                <li><a href="#">- Dropdown Item</a></li>-->
<!--                                                <li><a href="#">- Dropdown Item</a></li>-->
<!--                                            </ul>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </li>-->
                            </ul>

                            <!-- Get Tickets Button -->
<!--                            <a href="#" class="btn confer-btn mt-3 mt-lg-0 ml-3 ml-lg-5">Get Tickets <i class="zmdi zmdi-long-arrow-right"></i></a>-->
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Breadcrumb Area Start  bg-gradient-overlay -->
    <section class="breadcrumb-area bg-img jarallax" style="background-image: url(img/bg-img/37.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2 class="page-title">Speakers</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li> <!--check how to link vie view-->
                                <li class="breadcrumb-item active" aria-current="page">Speakers</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Our Speakings Area Start -->
    <section class="our-speaker-area section-padding-100">
        <div class="container">
            <div class="row">
                <!-- Heading -->
                <div class="col-12">
                    <div class="section-heading-3 text-center wow fadeInUp" data-wow-delay="300ms">
                        <p><font size="+6"> 2019 </font></p>
<!--                        <h4>2018</h4>-->
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src='{% static "images/speakers2/Alana Golmei.png" %}' alt="">
                        </div>
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="https://www.facebook.com/pages/category/Public-Figure/Dr-Alana-Golmei-114508926861221/" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="https://instagram.com/golmeidr?igshid=pszx36gxy802" target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                            <a href="https://twitter.com/alanagolmei?lang=en" target="_blank"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/dr-alana-golmei-91190013"target="_blank"><i class="zmdi zmdi-linkedin"></i></a>
                        </div>
                        <!-- Info -->
                        <div class="speaker-info"  onclick="location.href='speakers.html/Alana_Golmei'" style="cursor: pointer">
                            <h5>Alana Golmei</h5>
                            <p>Lawyer, Humanitarian</p>
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src='{% static "images/speakers2/Anamika_Barua.png" %}' alt="">
                        </div>
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="https://www.facebook.com/anamika.barua.92"target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                           
                            <a href="https://twitter.com/ana_13b?lang=en"target="_blank"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/anamika-barua-95a55065"target="_blank"><i class="zmdi zmdi-linkedin"></i></a>
                        </div>
                        <!-- Info -->
                        <div class="speaker-info" onclick="location.href='speakers.html/Anamika_Barua'" style="cursor: pointer">
                            <h5>Anamika Barua</h5>
                            <p>Professor of Economics</p>
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src='{%static "images/speakers2/Arup Kumar Dutta.png" %}' alt="">
                        </div>
                        <!-- Social Info -->
<!--                        <div class="social-info">-->
<!--                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>-->
<!--                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>-->
<!--                            <a href="#"><i class="zmdi zmdi-twitter"></i></a>-->
<!--                            <a href="#"><i class="zmdi zmdi-linkedin"></i></a>-->
<!--                        </div>-->
                        <!-- Info -->
                        <div class="speaker-info" onclick="location.href='speakers.html/Arup_Kumar_Dutta'" style="cursor: pointer">
                            <h5>Arup Kumar Dutta</h5>
                            <p>Journalist, Conservationist</p>
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src='{% static "images/speakers2/Binita Jain.png" %}' alt="">
                        </div>
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="https://www.facebook.com/binita.jain.58"target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="https://instagram.com/binita_jain_111?igshid=w5z1qra1smnq"target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                         
                            <a href="https://www.linkedin.com/in/binita-jain-1a479617b"target="_blank"><i class="zmdi zmdi-linkedin"></i></a>
                        </div>
                        <!-- Info -->
                        <div class="speaker-info"  onclick="location.href='speakers.html/Binita_Jain'" style="cursor: pointer">
                            <h5>Binita Jain</h5>
                            <p>Teacher</p>
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb --> 
                        <div class="speaker-single-thumb">
                            <img src='{% static "images/speakers2/Milin Dutta.png" %}' alt="">
                        </div>
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="https://www.facebook.com/milindutta"target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="https://instagram.com/milindutta?igshid=ry6ym1bp1b5v"target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                            
                            <a href="https://www.linkedin.com/in/miliduttapmp"target="_blank"><i class="zmdi zmdi-linkedin"></i></a>
                        </div>
                        <!-- Info -->
                        <div class="speaker-info" onclick="location.href='speakers.html/Milin_Dutta'" style="cursor: pointer">
                            <h5>
                                Milin Dutta
                                </h5>
                            <p>Trans-activist</p>
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src='{%static "images/speakers2/Zoma_Sailo.png" %}' alt="">
                        </div>
                        <!-- Social Info -->
<!--                        <div class="social-info">-->
<!--                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>-->
<!--                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>-->
<!--                            <a href="#"><i class="zmdi zmdi-twitter"></i></a>-->
<!--                            <a href="#"><i class="zmdi zmdi-linkedin"></i></a>-->
<!--                        </div>-->
                        <!-- Info -->
                        <div class="speaker-info" onclick="location.href='speakers.html/Zoma_Sailo'" style="cursor: pointer">
                            <h5>
                                Zoma Sailo
                                </h5>
                            <p>Mentor and Part of Light After Dark,
                                an all-blind band</p>
                        </div>
                    </div>
                </div>


                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src='{% static "images/speakers2/Pragnya_Ramjee.jpg" %}' alt="">
                        </div>
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="https://www.facebook.com/profile.php?id=100005616287573"target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="https://instagram.com/pragnyaramjee?igshid=oppuc4aw1m36"target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                            <a href="https://twitter.com/PragnyaRamjee" target="_blank"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/pragnyaramjee"target="_blank"><i class="zmdi zmdi-linkedin"></i></a>
                        </div>
                        <!-- Info -->
                        <div class="speaker-info" onclick="location.href='speakers.html/Pragnya_Ramjee'" style="cursor: pointer">
                            <h5>Pragnya Ramjee</h5>
                            <p>Student</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Heading -->
                <div class="col-12">
                    <div class="section-heading-3 text-center wow fadeInUp" data-wow-delay="300ms">
                        <p><font size="+6"> 2016 </font></p>
<!--                        <h4>2018</h4>-->
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms" >
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src='{% static "images/speakers1/seema-biswas.jpeg" %}' alt="">
                        </div>
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="https://www.facebook.com/Seema-Biswas-262725713828524/"target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="https://instagram.com/_dadi_amma_?igshid=118imu5gk92ov" target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                            
                        </div>
                        <!-- Info -->
                        <div class="speaker-info"  onclick="location.href='speakers.html/Seema_Biswas'" style="cursor: pointer">
                            <h5>Seema Biswas</h5>
                            <p>Actress</p>
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src='{% static "images/speakers1/uddhab-bharali.jpeg" %}' alt="">
                        </div>
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="https://www.facebook.com/druddhabbharali/" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                         
                            <a href="https://twitter.com/ukbharali" target="_blank"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="https://in.linkedin.com/in/uddhab-bharali-3a35467a"target="_blank"><i class="zmdi zmdi-linkedin"></i></a>
                        </div>
                        <!-- Info -->
                        <div class="speaker-info" onclick="location.href='speakers.html/Uddhab_Bharali'" style="cursor: pointer">
                            <h5>Uddhab Bharali</h5>
                            <p>Innovator</p>
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src='{%static "images/speakers1/sankara-subramaniam.jpeg" %}' alt="">
                        </div>
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="https://www.facebook.com/BEONTHEROAD" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                           
                            <a href="https://in.linkedin.com/in/sankara"><i class="zmdi zmdi-linkedin"></i></a>
                        </div>
                        <!-- Info -->
                        <div class="speaker-info" onclick="location.href='speakers.html/Sankara_Subramaniam'" style="cursor: pointer">
                            <h5>Sankara Subramanian</h5>
                            <p>Travel Evangelist</p>
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src='{% static "images/speakers1/hasina-kharbhih.png" %}' alt="">
                        </div>
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="https://www.facebook.com/hasina.kharbhih"target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="https://www.instagram.com/hasinakharbhih/" target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                            <a href="https://twitter.com/hasinakharbhih" target="_blank"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="https://in.linkedin.com/in/hasinakharbhih"target="_blank"><i class="zmdi zmdi-linkedin"></i></a>
                        </div>
                        <!-- Info -->
                        <div class="speaker-info"  onclick="location.href='speakers.html/Hasina_Kharbhih'" style="cursor: pointer">
                            <h5>Hasina Kharbhih</h5>
                            <p>Social Worker</p>
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src='{% static "images/speakers1/sonjoy-hazarika.jpeg" %}' alt="">
                        </div>
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="https://www.facebook.com/sanjoyha"><i class="zmdi zmdi-facebook"></i></a>
                            
                            <a href="https://twitter.com/sanjoyhazarika3" target="_blank"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/sanjoy-hazarika-3536108"target="_blank"><i class="zmdi zmdi-linkedin"></i></a>
                        </div>
                        <!-- Info -->
                        <div class="speaker-info" onclick="location.href='speakers.html/Sonjoy_Hazarika'" style="cursor: pointer">
                            <h5>Sanjoy Hazarika</h5>
                            <p>Director at CNS</p>
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src='{%static "images/speakers1/ravindranath.png" %}' alt="">
                        </div>
                        <!-- Social Info -->
<!--                        <div class="social-info">-->
<!--                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>-->
<!--                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>-->
<!--                            <a href="#" target="_blank"><i class="zmdi zmdi-twitter"></i></a>-->
<!--                            <a href="#"><i class="zmdi zmdi-linkedin"></i></a>-->
<!--                        </div>-->
                        <!-- Info -->
                        <div class="speaker-info" onclick="location.href='speakers.html/Ravindranath_Ravi'" style="cursor: pointer">
                            <h5>Ravindranath Ravi </h5>
                            <p>Social Worker</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Speakings Area End -->

<!-- Footer Area Start -->
    <footer class="footer-area bg-img bg-overlay-2 section-padding-100-0">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-60">
                            <!-- Footer Logo -->
                            <a href="/" class="footer-logo"><img src='{% static "images/ted_white.png" %}' alt=""></a>
                            <p>Ideas Worth Spreading</p>

                            <!-- Social Info -->
                            <div class="social-info">
                                <a href="https://www.facebook.com/TEDxIITGuwahati/" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                                <a href="https://www.instagram.com/tedxiitguwahati/" target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                                <a href="https://twitter.com/tedxiitg" target="_blank"><i class="zmdi zmdi-twitter"></i></a>
                                <a href="https://www.linkedin.com/company/tedx-iit-guwahati/" target="_blank"><i class="zmdi zmdi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-60">
                            <!-- Widget Title -->
                            <h5 class="widget-title">Contact</h5>

                            <!-- Contact Area -->
                            <div class="footer-contact-info">
                                <p><i class="zmdi zmdi-map"></i> IIT Guwahati</p>
                                <p><i class="zmdi zmdi-phone"></i> Jaikishan Mansukhani:</p><p style="margin-left: 15px">+91 90757 19391 </p>
                                <p><i class="zmdi zmdi-email"></i>iitg.tedx@gmail.com</p>

                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-60">
                            <!-- Widget Title -->


                            <!-- Footer Nav -->

                        </div>
                    </div>

                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-60">
                            <!-- Widget Title -->


                            <!-- Footer Gallery -->

                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--         Copywrite Area-->
        <div class="container">
            <div class="copywrite-content">
                <div class="row">
                    <!-- Copywrite Text -->
                    <div class="col-12 col-md-6">
                        <div class="copywrite-text">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
                                This independent TEDx event is operated under license from TED.
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                    <!-- Footer Menu -->
<!--                    <div class="col-12 col-md-6">-->
<!--                        <div class="footer-menu">-->
<!--                            <ul class="nav">-->
<!--                                <li><a href="#"><i class="zmdi zmdi-circle"></i> Terms of Service</a></li>-->
<!--                                <li><a href="#"><i class="zmdi zmdi-circle"></i> Privacy Policy</a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src='{% static "js/jquery.min.js" %}'></script>
    <!-- Popper -->
    <script src='{% static "js/popper.min.js" %}'></script>
    <!-- Bootstrap -->
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <!-- All Plugins -->
    <script src='{% static "js/confer.bundle.js" %}'></script>
    <!-- Active -->
    <script src='{% static "js/default-assets/active.js" %}'></script>

</body>

</html>