<!DOCTYPE html>
{% load static %}
<html lang="en">
<!--<h1>{{ static }}</h1>-->
<!--<img src='{% static "images/TEDxIITGuwahati1.png" %}' alt="LOGO">-->
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Speakers - TedxIITG</title>

    <!-- Favicon -->
    <link rel="icon" href='{% static "img/core-img/favicon.png" %}'/>

    <!-- Stylesheet -->
    <link rel="stylesheet" href='{% static "style.css" %}'/>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->
 
    <!-- Header Area Start -->
    <header class="header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="conferNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="/"><img src='{% static "images/ted_white.png" %}' alt="TEDx IITG"></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="/">Home</a></li>
                                <li class="active"><a href="speakers.html">Speakers</a></li>
                                <li><a href="blog.html">Blogs</a></li>
                                <li><a href="about_us.html">About Us</a></li>
                                <li><a href="/unrestricted.html">Unrestricted</a></li>
                                <li><a href="/contact.html">Contact</a></li>
<!--                                <li><a href="#">Nominate</a>-->
<!--                                    <ul class="dropdown">-->
<!--                                        <li><a href="nominate_speaker.html">Nominate a Speaker</a></li>-->
<!--                                        <li><a href="nominate_yourself.html">Nominate Yourself</a></li>-->
<!--                                        <li><a href="about_us.html">About Us</a></li>-->
<!--                                        <li><a href="speakers.html">- Speakers</a></li>-->
<!--                                        <li><a href="schedule.html">- Schedule</a></li>-->
<!--                                        <li><a href="tickets.html">- Tickets</a></li>-->
<!--                                        <li><a href="blog.html">- Blog</a></li>-->
<!--                                        <li><a href="single-blog.html">- Single Blog</a></li>-->
<!--                                        <li><a href="contact.html">- Contact</a></li>-->
<!--                                        <li><a href="#">- Dropdown</a>-->
<!--                                            <ul class="dropdown">-->
<!--                                                <li><a href="#">- Dropdown Item</a></li>-->
<!--                                                <li><a href="#">- Dropdown Item</a></li>-->
<!--                                                <li><a href="#">- Dropdown Item</a></li>-->
<!--                                                <li><a href="#">- Dropdown Item</a></li>-->
<!--                                            </ul>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </li>-->
                            </ul>

                            <!-- Get Tickets Button -->
<!--                            <a href="#" class="btn confer-btn mt-3 mt-lg-0 ml-3 ml-lg-5">Get Tickets <i class="zmdi zmdi-long-arrow-right"></i></a>-->
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Breadcrumb Area Start  bg-gradient-overlay -->
    <section class="our-speaker-area section-padding-100">
        <div class="container">
            <div class="row" >
                <!-- Heading -->
                <div class="col-12" style="height:50px"></div>
                <div class="col-12">
                    <div class="about-content-text mb-10 wow fadeInUp" data-wow-delay="300ms">
                        <hr style="width: 8rem; height:8px; margin-left:0px; background-color:#FF2B06; border-radius: 1.5px;">
                        <h2 style="color: #FF2B06; font-size:38px;">NOMINATE A SPEAKER </h2>
<!--                        <h4>2018</h4>-->
                        <br>
                        <p style="color:#000000; margin-bottom:10px">
                            D<span style="text-transform: lowercase;">o you know somebody you think would make an incredible </span>TED<span style="text-transform: lowercase;">x speaker?</span>
                            D<span style="text-transform: lowercase;">o you have your own idea or perspective, you believe, needs to be shared?</span> W<span style="text-transform: lowercase;">e invite you to submit a speaker nomination!</span></p>

                        <br>
                        <span style="color:#000000; margin-bottom:10px">
                            T<span style="text-transform: lowercase;">o nominate someone/yourself as a speaker for our </span>TED<span style="text-transform: lowercase;">x event, fill out the speaker nomination form. </span>K<span style="text-transform: lowercase;">indly keep in mind that our curators will choose speakers at their discretion, based on the ideal fit to our theme. </span>O<span style="text-transform: lowercase;">nce submitted, all nominations will remain in our speaker database for further consideration, as we plan our upcoming flagship event in </span>F<span style="text-transform: lowercase;">ebruary 2021.</span>
                        </span>
                        <br>
                         <p style="color:#000000; margin-bottom:10px">
                            Thank you!
                        </p>
                        <br>

                        <h5 style="color:#000000; margin-bottom:10px; text-align:center;">
                            NOMINATIONS CLOSED!
                        </h5>
<!--                        <div class="row">-->
<!--                             <div class="col-sm-6" style="margin-top: 20px; ">-->
<!--                                <a class="typeform-share button" href="https://form.typeform.com/to/RJxCgkec" data-mode="popup" style="display:inline-block;text-decoration:none;background: #FF2B06;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:15px;line-height:37.5px;text-align:center;margin:0 auto 0 auto;height:37.5px;padding:0px 25px;border-radius:18px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Nominate  <i class="zmdi zmdi-long-arrow-right"></i></a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; <div class="col-sm-6" style="margin-top:20px;">-->
<!--                                <a class="typeform-share button" href="https://form.typeform.com/to/FME8FL15" data-mode="popup" style="display:inline-block;text-decoration:none;background: #FF2B06;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:15px;line-height:37.5px;text-align:center;margin:0;height:37.5px;padding:0px 25px;border-radius:18px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Nominate Yourself</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>-->
<!--                            </div> &ndash;&gt;-->
<!--                        </div>-->

                    </div>
                </div>
            </div>
        </div>
    </section>

   <!---- <section class="breadcrumb-area bg-img jarallax" style="background-image: url(img/bg-img/37.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2 class="page-title">Speakers</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li> <-check how to link vie view--
                                <li class="breadcrumb-item active" aria-current="page">Speakers</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Breadcrumb Area End -->

    <!-- Our Speakings Area Start -->
    <div class="container">
        <div class="row">
            <!-- Heading -->
            <div class="col-12">
                <div class="section-heading-3  wow fadeInUp" data-wow-delay="300ms">
                    <hr style="width: 8rem; height:8px; margin-left:0px; margin-top:0px ; background-color:#FF2B06; border-radius: 1.5px;">
                    <h2 style="margin-left: 0px;"><font size="+5" color="#FF2B06" >Recent Speakers</font></h2>
                </div>
            </div>
        </div>
    </div>

    <section class="our-speaker-area section-padding-50">
        <div class="container">

            <div class="row">
                <!-- Heading -->
                <div class="col-12">
                    <div class="section-heading-3 text-center wow fadeInUp" data-wow-delay="300ms">
                        <p><font size="+6" color="#FF2B06" > 2021 </font></p>
                    </div>
                </div>
            </div>

            <div class="row" style="text-align:center;">
                <div class="row">

                    <!-- Single Speaker Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-speaker-area wow fadeInUp" data-wow-delay="300ms">
                            <!-- Thumb -->
                            <div class="speaker-single-thumb">
                                <img src='{% static "images/speakers3/Aashish.png" %}' alt="Avatar" style="widows: 100px">
                            </div>
                        </div>
                        <div class="speaker-info"  onclick="location.href='speakers.html/Aashish_Chandratreya'" style="cursor: pointer">
                            <h5><span style="color:#FF2B06;">Aashish Chandratreya</span></h5>
                            <p>Photographer, Videographer</p>
                        </div>
                    </div>

                    <!-- Single Speaker Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-speaker-area  wow fadeInUp" data-wow-delay="300ms">
                            <!-- Thumb -->
                            <div class="speaker-single-thumb">
                                <img src='{% static "images/speakers3/Aditya.jpg" %}' alt="Avatar" style="widows: 100px">
                            </div>
                        </div>
                        <div class="speaker-info" onclick="location.href='speakers.html/Aditya_Gupta'" style="cursor: pointer">
                            <h5><span style="color:#FF2B06;">Aditya Gupta</span></h5>
                            <p>Entrepreneur And Adventure Traveller</p>
                        </div>
                    </div>

                    <!-- Single Speaker Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-speaker-area wow fadeInUp" data-wow-delay="300ms">
                            <!-- Thumb -->
                            <div class="speaker-single-thumb">
                                <img src='{%static "images/speakers3/Bhagvan.jpg" %}' alt="Avatar" style="widows: 100px">
                            </div>
                        </div>
                        <div class="speaker-info" onclick="location.href='speakers.html/Bhagvan_Kommadi'" style="cursor: pointer">
                            <h5><span style="color:#FF2B06;">Bhagvan Kommadi</span></h5>
                            <p>Founder, Quantica Computacao</p>
                        </div>
                    </div>

                    <!-- Single Speaker Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-speaker-area wow fadeInUp" data-wow-delay="300ms">
                            <!-- Thumb -->
                            <div class="speaker-single-thumb">
                                <img src='{%static "images/speakers3/Bidisha.jpg" %}' alt="Avatar" style="widows: 100px">
                            </div>
                        </div>
                        <div class="speaker-info" onclick="location.href='speakers.html/Bidisha_Som'" style="cursor: pointer">
                            <h5><span style="color:#FF2B06;">Bidisha Som</span></h5>
                            <p>Professor of Linguistics</p>
                        </div>
                    </div>

                    <!-- Single Speaker Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-speaker-area wow fadeInUp" data-wow-delay="300ms">
                            <!-- Thumb -->
                            <div class="speaker-single-thumb">
                                <img src='{%static "images/speakers3/Nisha.jpg" %}' alt="Avatar" style="widows: 100px">
                            </div>
                        </div>
                        <div class="speaker-info" onclick="location.href='speakers.html/Nisha_Bora'" style="cursor: pointer">
                            <h5><span style="color:#FF2B06;">Nisha Bora</span></h5>
                            <p>Social researcher and entrepreneur</p>
                        </div>
                    </div>

                    <!-- Single Speaker Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-speaker-area wow fadeInUp" data-wow-delay="300ms">
                            <!-- Thumb -->
                            <div class="speaker-single-thumb">
                                <img src='{%static "images/speakers3/Prabhagaran.jpg" %}' alt="Avatar" style="widows: 100px">
                            </div>
                        </div>
                        <div class="speaker-info" onclick="location.href='speakers.html/Prabhagaran'" style="cursor: pointer">
                            <h5><span style="color:#FF2B06;">Prabhagaran </span></h5>
                            <p>Product Manager & U/X Designer</p>
                        </div>
                    </div>

                    <!-- Single Speaker Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-speaker-area wow fadeInUp" data-wow-delay="300ms">
                            <!-- Thumb -->
                            <div class="speaker-single-thumb">
                                <img src='{%static "images/speakers3/Rudy.jpg" %}' alt="Avatar" style="widows: 100px">
                            </div>
                        </div>
                        <div class="speaker-info" onclick="location.href='speakers.html/Rudy_Wallang'" style="cursor: pointer">
                            <h5><span style="color:#FF2B06;">Rudy Wallang</span></h5>
                            <p>Blues Vocalist</p>
                        </div>
                    </div>

                    <!-- Single Speaker Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-speaker-area wow fadeInUp" data-wow-delay="300ms">
                            <!-- Thumb -->
                            <div class="speaker-single-thumb">
                                <img src='{%static "images/speakers3/Seema.png" %}' alt="Avatar" style="widows: 100px">
                            </div>
                        </div>
                        <div class="speaker-info" onclick="location.href='speakers.html/Seema_Gupta'" style="cursor: pointer">
                            <h5><span style="color:#FF2B06;">Seema Gupta</span></h5>
                            <p>Professor of Digital Marketing</p>
                        </div>
                    </div>

                    <!-- Single Speaker Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-speaker-area wow fadeInUp" data-wow-delay="300ms">
                            <!-- Thumb -->
                            <div class="speaker-single-thumb">
                                <img src='{%static "images/speakers3/Shiva.jpg" %}' alt="Avatar" style="widows: 100px">
                            </div>
                        </div>
                        <div class="speaker-info" onclick="location.href='speakers.html/Shiva_Sah'" style="cursor: pointer">
                            <h5><span style="color:#FF2B06;">Shiva Sah</span></h5>
                            <p>Student, Architect</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Heading -->
                <div class="col-12">
                    <div class="section-heading-3 text-center wow fadeInUp" data-wow-delay="300ms" style="padding-top:20px;">
                        <p><font size="+6" color="#FF2B06"> 2019 </font></p>
                    </div>
                </div>
            </div>

            <div class="row" style="text-align:center;">
                <div class="row">

                    <!-- Single Speaker Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-speaker-area wow fadeInUp" data-wow-delay="300ms">
                            <!-- Thumb -->
                            <div class="speaker-single-thumb">
                                <img src='{% static "images/speakers2/Alana Golmei.png" %}' alt="Avatar" style="widows: 100px">
                            </div>
                        </div>
                        <div class="speaker-info"  onclick="location.href='speakers.html/Alana_Golmei'" style="cursor: pointer">
                            <h5><span style="color:#FF2B06;">Alana Golmei</span></h5>
                            <p>Lawyer, Humanitarian</p>
                        </div>
                        </div>

                    <!-- Single Speaker Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-speaker-area  wow fadeInUp" data-wow-delay="300ms">
                            <!-- Thumb -->
                            <div class="speaker-single-thumb">
                                <img src='{% static "images/speakers2/Anamika_Barua.png" %}' alt="Avatar" style="widows: 100px">
                            </div>
                        </div>
                        <div class="speaker-info" onclick="location.href='speakers.html/Anamika_Barua'" style="cursor: pointer">
                            <h5><span style="color:#FF2B06;">Anamika Barua</span></h5>
                            <p>Professor of Economics</p>
                        </div>
                    </div>

                    <!-- Single Speaker Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-speaker-area wow fadeInUp" data-wow-delay="300ms">
                            <!-- Thumb -->
                            <div class="speaker-single-thumb">
                                <img src='{%static "images/speakers2/Arup Kumar Dutta.png" %}' alt="Avatar" style="widows: 100px">
                            </div>
                        </div>
                        <div class="speaker-info" onclick="location.href='speakers.html/Arup_Kumar_Dutta'" style="cursor: pointer">
                            <h5><span style="color:#FF2B06;">Arup Kumar Dutta</span></h5>
                            <p>Journalist, Conservationist</p>
                        </div>
                    </div>

                    <!-- Single Speaker Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-speaker-area wow fadeInUp" data-wow-delay="300ms">
                            <!-- Thumb -->
                            <div class="speaker-single-thumb">
                                <img src='{% static "images/speakers2/Binita Jain.png" %}' alt="Avatar" style="widows: 100px">
                            </div>
                        </div>
                            <div class="speaker-info"  onclick="location.href='speakers.html/Binita_Jain'" style="cursor: pointer">
                                <h5><span style="color:#FF2B06;">Binita Jain</span></h5>
                                <p>Teacher</p>
                            </div>
                        </div>

                    <!-- Single Speaker Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-speaker-area wow fadeInUp" data-wow-delay="300ms">
                            <!-- Thumb -->
                            <div class="speaker-single-thumb">
                                <img src='{% static "images/speakers2/Milin Dutta.png" %}' alt="Avatar" style="widows: 100px">
                            </div>
                        </div>
                        <div class="speaker-info" onclick="location.href='speakers.html/Milin_Dutta'" style="cursor: pointer">
                            <h5><span style="color:#FF2B06;">Milin Dutta</span></h5>
                            <p>Trans-activist</p>
                        </div>
                    </div>


                    <!-- Single Speaker Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-speaker-area  wow fadeInUp" data-wow-delay="300ms">
                            <!-- Thumb -->
                            <div class="speaker-single-thumb">
                                <img src='{%static "images/speakers2/Zoma_Sailo.png" %}' alt="Avatar" style="widows: 100px">
                            </div>
                        </div>
                        <div class="speaker-info" onclick="location.href='speakers.html/Zoma_Sailo'" style="cursor: pointer">
                            <h5><span style="color:#FF2B06;">Zoma Sailo</span></h5>
                            <p>Mentor and Part of Light After Dark</p>
                        </div>
                    </div>

                    <!-- Single Speaker Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-speaker-area  wow fadeInUp" data-wow-delay="300ms">
                            <!-- Thumb -->
                            <div class="speaker-single-thumb">
                                <img src='{% static "images/speakers2/Pragnya_Ramjee.jpg" %}' alt="Avatar" style="widows: 100px">
                            </div>
                        </div>
                        <div class="speaker-info" onclick="location.href='speakers.html/Pragnya_Ramjee'" style="cursor: pointer">
                            <h5><span style="color:#FF2B06;"> Pragnya Ramjee</span></h5>
                            <p>Design Student</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Heading -->
                <div class="col-12">
                    <div class="section-heading-3 text-center wow fadeInUp" data-wow-delay="300ms">
                        <p><font size="+6" color="#FF2B06"> 2016 </font></p>
                    </div>
                </div>
            </div>

            <div class="row" style="text-align:center;">
                <div class="row">
                    <!-- Single Speaker Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-speaker-area wow fadeInUp" data-wow-delay="300ms" >
                            <!-- Thumb -->
                            <div class="speaker-single-thumb">
                                <img src='{% static "images/speakers1/seema-biswas.jpeg" %}' alt="Avatar" style="widows: 100px">
                            </div>
                        </div>
                        <div class="speaker-info"  onclick="location.href='speakers.html/Seema_Biswas'" style="cursor: pointer">
                            <h5><span style="color:#FF2B06;">Seema Biswas</span></h5>
                            <p>Actress</p>
                        </div>
                    </div>

                    <!-- Single Speaker Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-speaker-area  wow fadeInUp" data-wow-delay="300ms">
                            <!-- Thumb -->
                            <div class="speaker-single-thumb">
                                <img src='{% static "images/speakers1/uddhab-bharali.jpeg" %}' alt="Avatar" style="widows: 100px">
                            </div>
                        </div>
                        <div class="speaker-info" onclick="location.href='speakers.html/Uddhab_Bharali'" style="cursor: pointer">
                            <h5><span style="color:#FF2B06;">Uddhab Bharali</span></h5>
                            <p>Innovator</p>
                        </div>
                    </div>

                    <!-- Single Speaker Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-speaker-area wow fadeInUp" data-wow-delay="300ms">
                            <!-- Thumb -->
                            <div class="speaker-single-thumb">
                                <img src='{%static "images/speakers1/sankara-subramaniam.jpeg" %}' alt="Avatar" style="widows: 100px">
                            </div>
                        </div>
                        <div class="speaker-info" onclick="location.href='speakers.html/Sankara_Subramaniam'" style="cursor: pointer">
                            <h5><span style="color:#FF2B06;">Sankara Subramanian</span></h5>
                            <p>Travel Evangelist</p>
                        </div>
                    </div>

                    <!-- Single Speaker Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-speaker-area  wow fadeInUp" data-wow-delay="300ms">
                            <!-- Thumb -->
                            <div class="speaker-single-thumb">
                                <img src='{% static "images/speakers1/hasina-kharbhih.png" %}' alt="Avatar" style="widows: 100px">
                            </div>
                        </div>
                        <div class="speaker-info"  onclick="location.href='speakers.html/Hasina_Kharbhih'" style="cursor: pointer">
                            <h5><span style="color:#FF2B06;">Hasina Kharbhih</span></h5>
                            <p>Social Worker</p>
                        </div>
                    </div>

                    <!-- Single Speaker Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-speaker-area  wow fadeInUp" data-wow-delay="300ms">
                            <!-- Thumb -->
                            <div class="speaker-single-thumb">
                                <img src='{% static "images/speakers1/sonjoy-hazarika.jpeg" %}' alt="Avatar" style="widows: 100px">
                            </div>
                        </div>
                        <div class="speaker-info" onclick="location.href='speakers.html/Sonjoy_Hazarika'" style="cursor: pointer">
                            <h5><span style="color:#FF2B06;">Sanjoy Hazarika</span></h5>
                            <p>Director at CNS</p>
                        </div>
                    </div>

                    <!-- Single Speaker Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-speaker-area  wow fadeInUp" data-wow-delay="300ms">
                            <!-- Thumb -->
                            <div class="speaker-single-thumb">
                                <img src='{%static "images/speakers1/ravindranath.png" %}' alt="Avatar" style="widows: 100px">
                            </div>
                        </div>
                        <div class="speaker-info" onclick="location.href='speakers.html/Ravindranath_Ravi'" style="cursor: pointer">
                            <h5><span style="color:#FF2B06;">Ravindranath Ravi </span></h5>
                            <p>Social Worker</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <!-- Our Speakings Area End -->

<!-- Footer Area Start -->
<footer class="footer-area bg-img bg-overlay-2 section-padding-30-0">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row">
                <!-- Single Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-60">
                        <!-- Footer Logo -->
                        <a href="/" class="footer-logo"><img src='{% static "images/ted_white.png" %}' alt="Avatar" style="widows: 100px"></a>
                        <!-- <p>Ideas Worth Spreading</p> -->

                        <!-- Social Info -->
                        <!-- <div class="social-info">
                            <a href="https://www.facebook.com/TEDxIITGuwahati/" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="https://www.instagram.com/tedxiitguwahati/" target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                            <a href="https://twitter.com/tedxiitg" target="_blank"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="https://www.linkedin.com/company/tedx-iit-guwahati/" target="_blank"><i class="zmdi zmdi-linkedin"></i></a>
<a href="https://tedxtalk-iitg.medium.com/" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a> -->
<!--                                <a href="https://tedxtalk-iitg.medium.com/" target="_blank"><i class="ant-design:medium-outlined"></i></a>-->
<!--                            <iconify-icon data-icon="ant-design:medium-outlined"></iconify-icon>-->
                        <!-- </div> -->
                    </div>
                </div>

                <!-- Single Footer Widget Area  col-lg-3 -->
                <div class="col-12 col-sm-6">
                   <div class="single-footer-widget mb-60">
                       <br />
                        <h5 class="widget-title">Ideas Worth Spreading</h5>
                        <div class="footer-contact-info">
                            <p>This independent TEDx is operated under license from TED</p>
                            <!-- <p><i class="zmdi zmdi-map"></i> IIT Guwahati</p> -->
                            <!-- <p><i class="zmdi zmdi-phone"></i> Jaikishan Mansukhani:</p><p style="margin-left: 15px">+91 90757 19391 </p>
                            <p><i class="zmdi zmdi-email"></i> iitg.tedx@gmail.com</p> -->

                        </div>
                    </div>
                </div>
                

                <!-- Single Footer Widget Area -->
               <div class="col-12 col-sm-6 col-lg-3">
                   <div class="single-footer-widget mb-60">
                       <div class="social-info">
                      <br>
                        <a href="https://www.facebook.com/TEDxIITGuwahati/" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="https://www.instagram.com/tedxiitguwahati/" target="_blank"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="https://twitter.com/tedxiitg" target="_blank"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="https://www.linkedin.com/company/tedx-iit-guwahati/" target="_blank"><i class="zmdi zmdi-linkedin"></i></a>
                           <a href="https://tedxtalk-iitg.medium.com/" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
<!--                                <a href="https://tedxtalk-iitg.medium.com/" target="_blank"><i class="ant-design:medium-outlined"></i></a>-->
<!--                            <iconify-icon data-icon="ant-design:medium-outlined"></iconify-icon>-->
                    </div>

                   </div>
               </div>

                <!-- Single Footer Widget Area -->
<!--                    <div class="col-12 col-sm-6 col-lg-3">-->
<!--                        <div class="single-footer-widget mb-60">-->
<!--                            &lt;!&ndash; Widget Title &ndash;&gt;-->


<!--                            &lt;!&ndash; Footer Gallery &ndash;&gt;-->

<!--                        </div>-->
<!--                    </div>-->
            </div>
        </div>
    </div>


<!--         Copywrite Area-->
    <!-- <div class="container">
        <div class="copywrite-content">
            <div class="row"> -->
                <!-- Copywrite Text -->
                <!-- <div class="col-12 col-md-6">
                    <div class="copywrite-text"> -->
                        <!--<p> Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
                            <!-- This independent TEDx event is operated under license from TED. -->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. </p>-->
                    <!-- </div>
                </div> -->
                <!-- Footer Menu -->
<!--                    <div class="col-12 col-md-6">-->
<!--                        <div class="footer-menu">-->
<!--                            <ul class="nav">-->
<!--                                <li><a href="#"><i class="zmdi zmdi-circle"></i> Terms of Service</a></li>-->
<!--                                <li><a href="#"><i class="zmdi zmdi-circle"></i> Privacy Policy</a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
            <!-- </div>
        </div>
    </div> -->
</footer>
<!-- Footer Area End -->

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src='{% static "js/jquery.min.js" %}'></script>
    <!-- Popper -->
    <script src='{% static "js/popper.min.js" %}'></script>
    <!-- Bootstrap -->
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <!-- All Plugins -->
    <script src='{% static "js/confer.bundle.js" %}'></script>
    <!-- Active -->
    <script src='{% static "js/default-assets/active.js" %}'></script>

</body>

</html>